# We use a little hack so that the snippet is expanded
# and parsed correctly
snippet snip "Snippet definition"
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:!b}
$0
`!p snip.rv = "endsnippet"`
endsnippet

snippet test_shell "shell code"
should print date: `! date`
endsnippet

snippet test_js "javascript code"
should print date: `!js new Date()`
endsnippet

# should not contain \n
snippet test_newline "line ends with !js"
print date: `!js
new Date()`
endsnippet

snippet script_inside_tabstop "js script inside tabstop"
${1:`!js new Date()`}
endsnippet
